:root {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 

  --cyan: #72fcfc;
  --magenta: #e6b3e6;
  --magenta-dk: #eb3cf9;
  --warn: #B81466;
  --yellow: #fffe54;
  --lt-yellow: #f0f0a8;
  --navy: #053361;
  --black: #121212;

  --font-color: #e5e5e5;
  --font-color-light: #121212;
  --background: #053361;
  --background-light: snow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
}
body 
{
  background-color: #666a6d;
  margin: 16px;
  padding: 3px;
}
button,
select,
input {
cursor: pointer;
}
button {
  max-height: 20px;
  padding: 4px 10px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid transparent;
}
.App.dark {
  --font-color: #053361;
  --background:  #e6e0eb;
  --background-light: #656565;
  transition: all 0.3s;
}
.App {
  max-width: 700px;
  padding: 16px;
  background: var(--background);
  color: var(--font-color);
  box-shadow: 4px 4px 10px rgba(33, 33, 33, 0.2);
  border:  solid .3px transparent;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}
h1 {
  padding: .75rem 0 0 0;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 4em;
  border: none;
}
.h1-goal {
  font-family: "Major Mono Display", monospace;
  font-size: 1em;
  letter-spacing: .4em;
  border: none;
}
.h1-trkr {
  margin-top: -2px;
  font-family: "Odibee Sans", sans-serif;
  font-style: normal;
  font-size: 2.5em;
  font-weight: 600;
  border: none;
}
header button {
  margin-top: .75rem;
  background: var(--lt-yellow);
  align-self: flex-start;
}
header button:hover {
  background: var(--yellow);
  border: 1px solid var(--lt-yellow);
}

/* Form */
.new-goal-form {
  border-top: solid .3px var(--background-light);
  border-radius: 0;
}
.new-goal-form div {
  position: relative;
  min-height: 2.9em;
}
form {
  margin: 25px 25px 0 25px;
  display: flex;
  justify-content: center;
  border: none;
}
form input {
  margin-left: 6px;
  padding: 3px 6px;
  font-size: 1rem;
  font-weight: 400;
  background: snow;
}
form button {
  margin-left: 6px;
  background-color: var(--lt-yellow);
}
form button:hover {
  background-color: var(--yellow);
  border: 1px solid var(--lt-yellow);
}
.error {
  margin-top: 0.8em;
  padding-left: 9px;
  font-size: 0.95em;
  color: var(--warn);
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Filters */
section {
  margin: 10px 0 20px 0;
  padding-bottom: 10px;
  font-size: smaller;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}
section > p {
  font-size: larger;
  letter-spacing: 1px;
}
section label {
  margin-right: 10px;
}
section input {
  margin-right: 8px;
}

/* Goal */
.goal-item {
  margin: 6px 0;
  padding: 6px 0;
  line-height: 1.1;
  display: flex;
  justify-content: space-between;
}
.delete {
  background-color: var(--magenta);
}
.delete:hover {
  background-color: var(--magenta-dk);
  border: 1px solid var(--magenta);
}
select {
  margin-right: 10px;
  padding: 3px 6px;
  font-size: smaller;
  font-weight: 700;
  text-transform: uppercase;
}
li {
  list-style: none;
  border-bottom:  solid 1px #b2b2b2;
  border-radius: 0;
}
li:last-child {
  border-bottom: none;
}
.title {
  font-weight: 700;
}
.desc {
  font-size: smaller;
  display: none;
}
.goal-item:hover .desc {
  display: inline;
}
ul {
  margin-bottom: 20px;
}

/* Footer */
footer {
  margin-top: 25px;
  font-size: xx-small;
  font-weight: 600;
  text-transform: uppercase;
}
.footer-link {
  text-decoration: none;
  color: #b294d1;
}
.footer-link:hover {
  color: var(--magenta-dk);
}